.prose a {
  text-decoration: underline;
  text-decoration-color: var(--theme);
  color: var(--color);
}

.prose ol,
.prose ul {
  padding-left: 1.2rem;
  margin-bottom: var(--spacing);
}

.prose ul {
  list-style: disc;
}

.prose ol {
  list-style: decimal;
}

.prose li {
  margin: 0.5rem 0;
}

.prose li > ul,
.prose li > ol {
  margin: 0.5rem 0;
}

.prose blockquote {
  padding: var(--spacing);
  background-color: #eeeeee;
  border-radius: 8px;
}

.prose cite {
  display: block;
}

.prose code {
  font-family: monospace, monospace;
  background: #dddddd;
  padding: 1px 3px;
}
