{{ define "main" }}
<h1>{{ .Title }}</h1>

<article class="prose">{{ .Content }}</article>

<br />
<div style="opacity: 60%;">
  This website is still under construction. I have tried building a perfect personal site from scratch thrice.
  Now I think the only way to do that is slowly iterate a single website over long time.
</div>
{{/*  <ul>
  {{ range .RegularPages.ByTitle }}
  <li class="page-item">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <aside>{{ .Description }}</aside>
  </li>
  {{ end }}
</ul>  */}}
{{ end }}
